html {
    margin: 0 0 0 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;

    animation: bgColor 30s linear 2s infinite backwards;

    margin: 0 0 0 0;
    width: 100vw;
    height: 100vh;
}

@keyframes bgColor {
    0% {
        background-color: #FFE600;
    }
    25% {
        background-color: #3e1dc2;
    }
    50% {
        background-color: #4ecc13;
    }
    75% {
        background-color: #c70700;
    }
    100% {
        background-color: #FFE600;
    }
}

@keyframes tldColor {
    0% {
        color: #410074;
    }
    25% {
        color: #de8d1c;
    }
    50% {
        color: #d1114b;
    }
    75% {
        color: #00d126;
    }
    100% {
        color: #410074;
    }
}

@media only screen and (orientation: portrait) {
    .name {
        font-size: 25vw;

        color: #000000;

        position: absolute;

    }

    .scrolling-text {
        position: fixed;
    }

    #tld{
        font-size: 20vw;
        position: fixed;
        top: calc(25vh + 37vw);
        animation: tldColor 30s linear 2s infinite backwards;
    }

    #msg{
        font-size: 3vw;
        position: fixed;
        top: calc(27vh + 56vw);
        left: 6vw;
    }

    #scroll1{
        width: 100vw;
        top: 25vh;
        animation: leftScroll 5s linear both infinite;
    }
    #scroll2{
        width: 100vw;
        top: calc(18.5vw + 25vh);
        animation: rightScroll 5s linear both infinite;
    }

    @keyframes leftScroll {
        from{
            right: 0
        }
        to{
            right: 73vw;
        }
    }

    @keyframes rightScroll {
        from{
            left: 0
        }
        to{
            left: 73vw;
        }
    }

    #name1 {
        left: 0;
    }

    #name2 {
        left: 73vw;
    }

    #name3 {
        left: 146vw;
    }

    #name4 {
        right: 0;
    }

    #name5 {
        right: 73vw;
    }

    #name6 {
        right: 146vw;
    }

}

@media only screen and (orientation: landscape) {
    .name {
        font-size: 30vh;

        color: #000000;

        position: absolute;

    }
    #name1 {
        top: -6vh;
    }

    #name2 {
        top: 16vh
    }

    #name3 {
        top: 38vh
    }

    #name4 {
        top: 60vh
    }

    #name5 {
        top: 82vh
    }

    #name6 {
        top: 104vh
    }

    #tld {
        font-size: 30vh;

        color: #410074;

        position: fixed;
        top: 5vh;
        left: 97.5vh;

        animation: tldColor 30s linear 2s infinite backwards;
    }

    .scrolling-text {
        position: fixed;
        left: 5vw;
        animation: scrollText 6s linear infinite;

    }

    @keyframes scrollText {
        from {
            top: 0
        }
        to {
            top: -22vh;
        }
    }

    #triangleContainer {
        height: 100vh;
        width: 100vw;
    }

    #msg {
        position: fixed;
        font-size: 2.5vh;

        color: black;

        left: 110vh;
        top: 42vh;
    }



}





